.section1 {
    height: 100%;
    width: 25%;
    background-color: var(--bg-secondary);
    position: fixed; 
    left: 0px;
    top: 0px;
    padding: 12px;
}

.section2 {
    height: 100%;
    width: 75%;
    background-color: var(--bg-primary);
    position: absolute;
    left: 25%;
    bottom: 0px;
    padding: 12px;
}

.section2content {
    width: 60%;
}

.section3 {
    height: 100%;
    width: 25%;
    background-color: var(--bg-secondary);
    position: fixed;
    right: 0px;
    bottom: 0px;
    border-radius: 24px 0px 0px 24px;
    padding: 12px;
}

.btn {
    min-width: 12px;
    border-radius: 12px;
}

.btn:active {
    background: transparent
}

.btn:focus {
    background: rgb(0, 0, 0, 0.2);
}

#map {
    width: 100%; 
    height: 100%;
}

.nav-item {
    padding-left: 12px;
    padding-right: 12px;
}

.nav-justified {
    box-shadow: none;
}

.leading {
    color: var(--content-primary)
}

.homeimg {
    width: 100%;
}

.subtitle {
    color: var(--content-secondary);
    font-size: 24px;
    font-weight: 800;
}

.list-group {
    background-color: var(--bg-primary);
    color: var(--content-primary);
}
.list-group-item {
    background-color: var(--bg-tertiary);
    color: var(--content-primary);
}
.list-group-item:hover {
    background-color: var(--bg-tertiary);
    color: var(--content-primary);
    cursor: default;
}.list-group-item:active {
    background-color: var(--bg-tertiary);
    color: var(--content-primary);
    cursor: default;
}.list-group-item:focus {
    background-color: var(--bg-tertiary);
    color: var(--content-primary);
    cursor: default;
}


.list-group-item:first-child {
    border-radius: 18px 18px 0px 0px !important;
}

.list-group-item:last-child {
    border-radius: 0px 0px 18px 18px !important;
}
.leadnum {
    line-height: 0px;
}

.pfp1 {
    width: 48px; 
    height: 48px; 
    border-radius: 26px;
    object-fit: cover;
}


.modal-content {
    background-color: var(--bg-primary);
    color: var(--content-primary);
    border-radius: 24px;
}