#sidebar {
    padding: 24px;
    background-color: var(--bg-primary);
    width: 200px;
    left: 0px;
    top: 0px;
    height: 100%;
    position: fixed;
    z-index: 12;
}

#sidebarcontent {
    background-color: var(--bg-secondary);
    height: 100%;
    width: 100%;
    border-radius: 24px;
}

.logo1 {
    top: 40px;
    width: 38%;
}

.tabs {
    width: 100%;
}


.navbarbuttontext {
    display: inline-block;
    padding-left: 52px;
    color: var(--content-secondary);
    font-weight: 400;
    margin: 0;
}

.navbarbuttontextactive {
    display: inline-block;
    font-weight: 500;
    color: var(--content-primary);
    padding-left: 52px;
    margin: 0;
}

.iconinactive {
    color: var(--content-secondary);
}

.iconactive {
    background-image: linear-gradient(270deg, var(--eon-primary), var(--eon-secondary));
    padding: 6px;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;   
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 0px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .overlaypadding {
    padding: 24px 12px 24px 24px !important;
  }
  
  .overlaycontent {
    background-color: var(--bg-secondary);
    border-radius: 24px;

    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
  }

  #tabs {
    transition: all .5s;
    padding: 16px;
  }
  
  .chatbtn {
    padding: 12px !important;
    min-width: 0 !important;    
    border-radius: 24px !important;

    position: fixed !important;
    bottom: 36px !important;
    right: 0px !important;
    
    z-index: 200;
    transition: all 1.5s !important;
  }

  .chatbtn:hover {
      z-index: 200;
  }

  .chatbtnactive {
    z-index: 200;
    right: 262px !important;
  }

  .marginshit {
    width: 244px;

    height: 100%;
    margin: 0em;
  }

  .bottombar {
      bottom: 44px;
      width: 87%;

      position: absolute;

      padding-left: 8px;
      padding-right: 8px;
  }

  .bottombar2 {
    bottom: 44px;
    width: 76%;

    position: absolute;

    padding-left: 8px;
    padding-right: 8px;
}

  .form-control {
      color: var(--content-primary)
  }

  .floating-label label {
      color: grey;
  }

  .pfp1 {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 14px;
  }

  .pfptext {
      line-height: 0px;
      display: inline-block;
  }

  .pfp2 {
    border-radius: 1200px; 
    height: 32px; 
    width: 32px; 
    object-fit: cover; 
    display: inline-block;
  }

  .chatdivider1 {
    padding-left: 24px; 
    width: 100%; 
    display: inline-block;
  }

  .chattext {
    text-align: left; 
    max-width: 90%; 
    padding: 12px; 
    border-radius: 12px;
  }

  .chattext2 {
    max-width: 80%;
    margin: 0;
  }

  .chattext3 {
      display: inline-block;
  }

  .messageelement {
      position: relative;
      padding-left: 6px;
      padding-right: 6px;
      color: var(--content-primary)
  }

  #messages {
    height: 100%;
    margin: 0em;
    overflow-y: auto;
  }

  .inline {
    display: inline-block;
    margin: 0;
  }

  .chatinfobtn {
    min-width: 0px !important;
    padding: 8px !important;
    bottom: 3px;
  }

  .tab-pane {
    color: var(--content-primary)
  }